{% extends 'base.html' %}
{% block content %}


<div class="row">


    <div class="col-5">  
        <img src={{car.img_url}} class="img-fluid">
    </div>

    

    <div class="col-6">  
        <h1 class="my-3 fw-bold">{{car.manufact}} {{car.model}} </h1>
        <p class="my-3 text-muted">{{car.age}}년식 | {{'{:,}'.format(car.odo)}}km | {{car.fuel}} </p>
        <h2 class="my-3 fw-bold">판매가격 <strong class="text-primary">{{'{:,}'.format(car.price)}}만원</strong></h2>

        <hr class="my-5">
        <h4 class="my-5">{{car.comment}}</h4>
       
       {% if current_user.user_id == car.user_id %}
        <div class="my-3">

            <a href="{{ url_for('car.delete', car_id=car.car_id, user_id=car.user_id) }}"
               class="delete btn btn-sm btn-outline-secondary">삭제</a>
        </div>
       {% endif %}
     
    </div>












{% endblock %}

