{% extends "base.html" %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div style="width:50%; ">
  <canvas id="canvas"></canvas>
  
</div>



















<script>

new Chart(document.getElementById("canvas"), {
    type: 'line',
    data: {
        labels: ['신차가격', '현재', '1년후', '2년후', '3년후', '4년후', '5년후'],
        datasets: [{
            label: '잔존가치',
            data: [
                "{{price_list[0]}}",
                "{{price_list[1]}}",
                "{{price_list[2]}}",
                "{{price_list[3]}}",
                "{{price_list[4]}}",
                "{{price_list[5]}}"
               
            ],
            borderColor: "rgba(255, 201, 14, 1)",
            backgroundColor: "rgba(255, 201, 14, 0.5)",
            fill: true,
            lineTension: 0
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: ''
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }],
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                },
                scaleLabel: {
                    display: true,
                    labelString: '(만원)'
                }
            }]
        }
    }
});

</script>
{% endblock %}