{% extends "base.html" %}
{% block content %}

<div class="container my-3 w-50 ">
<h5 class="my-3 border-bottom pb-2">회원가입</h5>
    <form method="post" class="post-form">
    
        {{ form.hidden_tag() }}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        
        <div class="form-group">
            <label for="name">사용자 이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.data or '' }}">
        </div>

        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>

        <div class="form-group">
            <label for="pw">비밀번호</label>
            <input type="password" class="form-control" name="pw" id="pw"
                   value="{{ form.pw.data or '' }}">
        </div>

        <div class="form-group pb-2">
            <label for="pw_confirm">비밀번호 확인</label>
            <input type="password" class="form-control" name="pw_confirm" id="pw_confirm"
                   value="{{ form.pw_confirm.data or '' }}">
        </div>
       
       
        <button type="submit" class="btn btn-primary">계정생성</button>
    </form>
</div>
{% endblock %}