{% extends "base.html" %}
{% block content %}
<div class="container my-3">
<h5 class="my-3 border-bottom pb-2">글쓰기</h5>
    <form method="post" class="post-form">

        {{ form.hidden_tag() }}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}


       <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title" onKeyUp="javascript:fnChkByte(this,'200')">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="5" onKeyUp="javascript:fnChkByte(this,'1000')"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>


<script>
    function fnChkByte(obj, maxByte)
    {
        var str = obj.value;
        var str_len = str.length;


        var rbyte = 0;
        var rlen = 0;
        var one_char = "";
        var str2 = "";


        for(var i=0; i<str_len; i++)
        {
            one_char = str.charAt(i);
            if(escape(one_char).length > 4) {
                rbyte += 2;                                         //한글2Byte
            }else{
                rbyte++;                                            //영문 등 나머지 1Byte
            }
            if(rbyte <= maxByte){
                rlen = i+1;                                          //return할 문자열 갯수
            }
        }
        if(rbyte > maxByte)
        {
            // alert("한글 "+(maxByte/2)+"자 / 영문 "+maxByte+"자를 초과 입력할 수 없습니다.");
            alert("글 용량은 최대 " + maxByte + "byte를 초과할 수 없습니다.")
            str2 = str.substr(0,rlen);                                  //문자열 자르기
            obj.value = str2;
            fnChkByte(obj, maxByte);
        }
        else
        {
            document.getElementById('byteInfo').innerText = rbyte;
        }
    }
</script>




{% endblock %}